attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.2
idna==2.9
importlib-metadata==1.6.0
ipython-genutils==0.2.0
jsonschema==3.2.0
jupyter-core==4.6.3
nbformat==5.0.6
networkx==1.11
plotly==2.0.15
pyrsistent==0.16.0
pytz==2020.1
requests==2.23.0
six==1.15.0
traitlets==4.3.3
urllib3==1.25.9
zipp==3.1.0
